@page "/Articles"
@inherits MyBlog.WebApp.Components.Pages.ComponentsBase.ArticlesBase

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h2>Articles</h2>

<div class="articles_list">
    <div class="articles_list-container">
        @foreach (var article in _articleService.Articles)
        {
            <div class="article">
                <NavLink href="@($"/review/{article.ArticleId}")">
                    <img class="book_img" src="@GetBookCover(article.BookCover)" alt="@article.BookTitle" />
                </NavLink>
                <div class="book_infos">
                    <h3><a href="@($"/review/{article.ArticleId}")">@article.BookTitle by @article.BookAuthor</a></h3>
                    <p>@article.ReviewResume</p>
                    <div class="admin_btn">
                        @if (IsUserAuthenticated)
                        {
                            <button @onclick="() => Callback(article)">Edit</button>
                            <button @onclick="() => OnDeleteArticle(article)">Delete</button>
                        }
                    </div>
                    <div class="rating">
                        <MudRating ReadOnly="true"
                                   SelectedValue="@article.MyNote"
                                   FullIcon="@Icons.Material.Filled.Favorite"
                                   EmptyIcon="@Icons.Material.Filled.FavoriteBorder"
                                   Color="Color.Error"
                                   Size="Size.Large" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<button>
    <a href="/CreateArticle" asp-controller="article" asp-action="CreateArticle"><i class='bx bxs-plus-circle'></i></a>
</button>

@* <div>
    <table>
        <thead>
            <tr>
                <td>ArticleId</td>
                <td>BookAuthor</td>
                <td>BookTitle</td>
                <td>BookNumberOfPages</td>
                <td>BookCover</td>
                <td>TextSection</td>
                <td>BookResume</td>
                <td>ReviewResume</td>
                <td>MyNote</td>
                <td>Quotes</td>
                <td>CreatedAt</td>
                <td>UpdatedAt</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in _articleService.Articles)
            {
                <tr>
                    <td>@article.ArticleId</td>
                    <td>@article.BookAuthor</td>
                    <td>@article.BookTitle</td>
                    <td>@article.BookNumberOfPages</td>
                    <td><img src="@GetBookCover(article.BookCover)" alt="Cover" /></td>
                    <td>@article.TextSection</td>
                    <td>@article.BookResume</td>
                    <td>@article.ReviewResume</td>
                    <td>@article.MyNote</td>
                    <td>
                        @if (article.Quotes != null)
                        {
                            foreach (var quote in article.Quotes)
                            {
                                <p>@quote</p>
                            }
                        }
                    </td>
                    <td>@article.CreatedAt</td>
                    <td>@article.UpdatedAt</td>
                    <td>
                        <button @onclick="() => Callback(article)">Edit</button>
                    </td>
                    <td>
                        <button @onclick="() => OnDeleteArticle(article)">Delete</button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<button>
    <a href="/CreateArticle" asp-controller="article" asp-action="CreateArticle">Add Article</a>
</button> *@