@page "/Review/{id:int}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inherits MyBlog.WebApp.Components.Pages.ComponentsBase.ReviewBase

<ul class="breadcrumb">
    <li><a href="/"><img src="/Icons/home.png" class="breadcrumb_icons" /> Home</a></li>
    <li><a href="/articles">Articles</a></li>
    <li>@article.BookTitle</li>
</ul>

@if (article != null)
{
    <div id="container">
        <div class="book_infos-container">
            <img class="cover" src="@GetBookCover(article.BookCover)" alt="@article.BookTitle" />
            <div class="book_infos">
                <ul>
                    <li><span class="book_infos_label">Title</span>: @article.BookTitle</li>
                    <li><span class="book_infos_label">Author</span>: @article.BookAuthor</li>
                    @if (article.BookGenres != null && article.BookGenres.Any())
                    {
                        <li><span class="book_infos_label">Genre</span>: @string.Join(", ", article.BookGenres)</li>
                    }
                    <li><span class="book_infos_label">Year</span>: @article.BookYear</li>
                    <li>@article.BookNumberOfPages pages</li>
                </ul>
            </div>
        </div>
        <div class="main_content">
            <div class="review_content">
                <h2>@article.ReviewTitle</h2>
                <p>@article.TextSection</p>
                <h3>Synopsis:</h3>
                <p>@article.BookResume</p>
                <div class="review_rating-container">
                    <div class="review_rating">
                        <h4>My Note: </h4>
                        <MudRating ReadOnly="true"
                                   SelectedValue="@article.MyNote"
                                   FullIcon="@Icons.Material.Filled.Favorite"
                                   EmptyIcon="@Icons.Material.Filled.FavoriteBorder"
                                   Color="Color.Error"
                                   Size="Size.Large" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (article.Quotes != null)
    {
        <div class="quotes-container">
            <div class="quotes">
                <h5>Quotes</h5>
                <ul>
                    @foreach (var quote in article.Quotes)
                    {
                        <li class="quote">"@quote"</li>
                    }
                </ul>
            </div>
        </div>
    }
}